#index:
app_signup:
    path: /sign-up
    controller: App\Controller\UserController::addUser

login:
    path: /login
    controller: App\Controller\SecurityController::login

login_check:
    path: /login_check

logout:
    path: /logout
    
app_home:
    path: /
    controller: App\Controller\HomeController::home

app_admin:
    path: /admin
    controller: App\Controller\HomeController::admin

app_list_of_users:
    path: /admin/users
    controller: App\Controller\UserController::users

app_user:
    path: /user
    controller: App\Controller\HomeController::user

app_modify_user:
    path: /admin/modify/{id}
    controller: App\Controller\UserController::modifyUser
    requirements:
        id: '\d+'

app_modify_carrent_user:
    path: /user/modify/carrent-user
    controller: App\Controller\UserController::modifyCurrentUser

app_set_admin:
    path: /admin/set-admin/{id}
    controller: App\Controller\UserController::setAdmin
    requirements:
        id: '\d+'

app_delete_user:
    path: /admin/delete-user/{id}
    controller: App\Controller\UserController::deleteUser
    requirements:
        id: '\d+'

app_cameras_page:
    path: /cameras/page/{id}
    controller: App\Controller\CameraController::camerasPage
    requirements:
        id: '\d+'

app_camera:
    path: /camera/{id}
    controller: App\Controller\CameraController::camera
    requirements:
        id: '\d+'

app_add_new_camera:
    path: /add-new-camera
    controller: App\Controller\CameraController::addCamera

app_modify_camera:
    path: /modify-camera/{id}
    controller: App\Controller\CameraController::modifyCamera
    requirements:
        id: '\d+'

app_delete_camera:
    path: /delete-camera/{id}
    controller: App\Controller\CameraController::deleteCamera
    requirements:
        id: '\d+'

app_add_new_monture:
    path: /add-new-monture
    controller: App\Controller\MontureController::addMonture

app_lenses_page:
    path: /lenses/page/{id}
    controller: App\Controller\LensController::lensesPage
    requirements:
        id: '\d+'

app_lens:
    path: /lens/{id}
    controller: App\Controller\LensController::lens
    requirements:
        id: '\d+'

app_add_new_lens:
    path: /add-new-lens
    controller: App\Controller\LensController::addLens

app_modify_lens:
    path: /modify-lens/{id}
    controller: App\Controller\LensController::modifyLens
    requirements:
        id: '\d+'

app_delete_lens:
    path: /delete-lens/{id}
    controller: App\Controller\LensController::deleteLens
    requirements:
        id: '\d+'

app_add_new_lens_manufacturer:
    path: /add-new-lens-manufacturer
    controller: App\Controller\LensManufacturerController::addManufacturer

app_forum:
    path: /forum/{theme}/{page}
    controller: App\Controller\ForumThemeController::theme
    requirements:
        page: '\d+'
        
app_user_test:
    path: /user-test
    controller: App\Controller\UserController::test

app_add_new_category:
    path: /add-new-category
    controller: App\Controller\CamCategoryController::addCategory

app_add_new_manufacturer:
    path: /add-new-manufacturer
    controller: App\Controller\CamManufacturerController::addManufacturer