{% extends 'base.html.twig' %}

{% block title %}Espase Admin{% endblock %}

{% block body %}
    <h1>Espace Admin</h1>
    <a href="{{ path('app_list_of_users') }}">La liste des utilisateurs</a>
{% endblock %}