{% extends 'base.html.twig' %}
{% block body %}
    <div>
        Ce site a été créé pour le but non lucratif.
        L'éberger de ce site est <a href="https://www.1and1.fr">1and1.</a>
        Téléphone : 09 70 80 89 11
    </div>
{% endblock %}