{% extends 'base.html.twig' %}

{% block title %}Refuser les cookies{% endblock %}

{% block body %}
    <div>
        Les cookies sont nécessaires pour le fonctionnement de ce site. Si vous refusez les cookies vous devrez quitter ce site.
    </div>
{% endblock %}